.game-series {
  width: 100%;
  position: relative;

  .series-carousel {
    -webkit-box-shadow: inset 0px 0px 15px -1px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0px 0px 15px -1px rgba(0, 0, 0, 0.6);
    border-radius: 0.5rem;
    padding-bottom: 0.5rem;

    div {
      position: relative;
      margin-top: 0.5rem;
      img {
        position: relative;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover {
          transform: scale(1.05);
        }
      }
      h4 {
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0.6) 100%
        );
        transform: translateY(-30px);
        padding: 0.2rem;
        border-radius: .5rem
      }
    }
  }
}
