@import '../../assets/styles/variables';

header {
    background: #212227;
}

nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    .links {
        a {
            margin-left: 1rem;
        }
    }
}