@import '../../assets/styles/variables';

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    div {
        height: 250px;
        margin: 0 5%;
    }
}

.carousel {
    overflow: hidden;

    .inner {
        white-space: nowrap;
        transition: transform .3s;
    }
    
    .indicators {
        display: flex;
        justify-content: center;
    }
    .indicators > button {
        margin: 5px;
    }
    .indicators > button.activeCarousel {
        background-color: $primary;
        color: white;
    }
}